/* PAGE */

* {
  background-color: black;
  color: white;
  font-family: 'Old Standard TT';
}


/* HEADER */
h1 {
  font-size: 40pt;
  font-variant: small-caps;
  letter-spacing: 3px;
}

/* NAV */
.nav-bar ul li {
  display: inline;
}

#about {
  display: none;
}
